@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 2vh;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('back.webp');
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}
section.chat__section {
    width: 800px;
    max-width: 100%;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(189, 169, 169, 0.1), 0 4px 6px -2px rgba(227, 8, 8, 0.05);
}
.brand {
    padding: 20px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
}
.brand h1 {
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    margin-left: 10px;
}
.message__area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
    background-image: url('chatback.jpg');
    background-size: cover;
    background-position: center;
    
}

.message {
    padding: 20px; 
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
    
}
.incoming {
    background: #8F8BE8;
    color: #fff;  
}
.outgoing {
    background: #e9eafd;
    color: #787986;
    margin-left: auto;
}
.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #e6830a;
    font-size: 14px;
}
.input__container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
.message__input-container {
    display: flex;
    flex: 1;
    align-items: center;
}
.textarea-container {
    flex: 1;
    display: flex;
    align-items: center;
}
#textarea {
    width: 100%;
    border: none;
    height: 7vh;
    padding: 15px;
    font-size: 16px;
    outline: none;
    background: #ded6d6;
    border-radius: 4px 0 0 4px;
    
}
.send__button-container {
    display: flex;
    justify-content: flex-end; 
    margin-left: auto; 
    margin-right: 0vh; 
}
.send__button {
    padding: 16px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 2vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
}
.send__button:hover {
    background-color: #0056b3;
}
